@charset "utf-8";

.main {
    position: relative;
    top: 80px;
    display: inline;
    margin: 0 auto;
}


.picture {
    display: flex;
    background-image: url("../Pictures/field.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    border-radius: 25px;
    border: 5px solid #353635;
    text-align: center;
    align-items: center;
}

.droneTitle {
    align-self: flex-start;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 2.5vw;
}

.droneInfo {
    align-self: center;
    font-family: Arial, sans-serif;
    color: white;
    opacity: 90%;
    font-size: 6.5vw;
}

.section1 {
    margin: 5px;
    background: linear-gradient(-45deg, #212020, #697b8d);
    height: 20vh;
    border-radius: 30px;
    border: 5px solid #212020;
}
.firstPara {
    font-family: "Arial Black";
    font-size: 3vw;
    text-align: center;
    color: white;
}