@charset "utf-8";

.main {
    width: 100%;
    position: relative;
    top: 80px;
    display: flex;
    margin: 5px auto;
    flex-direction: column;
    justify-content: space-around;

}

.picture {
    display: flex;
    background-image: url("../Pictures/field.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-content: center;
    height: 500px;
    border-radius: 25px 25px 0px 0px;
}
.div2 {
    background-color: #212020;
    text-align: center;
    font-size: 30px;
    text-align: center;
}
.cards {
    display: inline-flex;
    border-radius: 0px 0px 25px 25px;
    margin-top: 10px;
    background-color: #212020;
    text-align: center;
    font-size: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.paragraph {
    color: white;
    flex-grow: 2;
}

.droneTitle {
    font-family: Calibri;
    color: #212020;
    font-stretch: inherit;
    opacity: 90%;
    font-size: 50px;
    max-font-size: 5.5vw;
    height: 1.1em;
    border-radius: 5px;

}

.section1 {
    margin: 5px;
    background: linear-gradient(-45deg, #212020, #697b8d);
    height: 20vh;
    border-radius: 30px;
    border: 5px solid #212020;
}
.firstPara {
    font-family: "Arial Black";
    font-size: 3vw;
    text-align: center;
    color: white;
}