body {
  margin: auto;
  width: auto;
  max-width: 1080px;
}

nav ul {

  display: flex;
  list-style-type: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5), 0 2px 4px -1px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
  background: #eeeeee;
  border-radius: 25px;
  align-content: center;
  justify-content: space-evenly;
  padding-inline-start: 0px;
}
nav li {
  align-self: center;

}

nav a {
  color: rgb(26, 24, 24);
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}
.main {
  padding: 1rem;
}
nav a.active {
  background-color: rgba(160, 138, 138, 0.26);
  color: rgba(31, 24, 24, 0.91);
  font-size: 100%;
  border-radius:25px;
  font-weight: 550;
}
