body {
  margin: auto;
  width: auto;
  max-width: 1080px;
  align-content: center;


}
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  position: fixed;
  z-index: 1;
  background-color: #eeeeee;
}

nav a {
  color: rgb(26, 24, 24);
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}
.main {
  padding: 1rem;
}
nav a.active {
  margin-top: 4%;
  background-color: #eee;
  color: rgba(31, 24, 24, 0.91);
  font-size: 105%;
}